{% extends 'temp.html' %}

{% block content %}


<img src="{{article.img_url.url}}" width="50%"  >

<br/><br/><br/>
<h1><font size="5" face="Ink Free" color="#87CEFA">{{article.img_tags}}</font> </h1>
<br/><br/>
<h5>😄😄😊😍😘😜😝</h5>
<br/><br/>
{% if user.username == article.img_uploader %}
    <a class="nav-link active" href="{% url 'result' id=article.id %}">快看看有多少人和你兴趣相同~</a>
{% else %}
    <h1><font size="5" face="Ink Free" color="#87CEFA">{{article.img_uploader}}的动态</font></h1>
{% endif %}
{% endblock %}
